@page "/weather"
@using BlazorServerWithAuthAndDatabase.Services
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Weather from Mongo</h1>

<p>This component demonstrates pulling data from MongoDB.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th aria-label="Temperature in Celsius">Temp. (C)</th>
                <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject] protected IWeatherService Service { get; set; }


    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);

        var list = await Service.GetWeather();
        forecasts = list.Select(x => new WeatherForecast
        {
            Date = x.Date,
            TemperatureC = x.TemperatureC,
            Summary = x.Summary
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateTime Date { get; init; }
        public int TemperatureC { get; init; }
        public string? Summary { get; init; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
