@page "/weather"
@using BlazorServerWithAuthAndDatabase.Services
@attribute [StreamRendering]
@implements IDisposable

<PageTitle>Weather</PageTitle>

<h1>Weather from Mongo</h1>

<p>This component demonstrates pulling data from MongoDB.</p>

@if (_forecasts == null)
{
    <p><em>Loading...</em></p>
    <button class="btn btn-danger" @onclick="Cancel">Cancel</button>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th aria-label="Temperature in Celsius">Temp. (C)</th>
                <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in _forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject] protected IWeatherService Service { get; set; }

    private class WeatherForecast
    {
        public DateTime Date { get; init; }
        public int TemperatureC { get; init; }
        public string? Summary { get; init; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    private CancellationTokenSource? _cts;
    private WeatherForecast[]? _forecasts;

    protected override async Task OnInitializedAsync()
    {
        _cts = new CancellationTokenSource();

        await Task.Delay(500);
        

        try
        {
            var list = await Service.GetWeather();
            _forecasts = list.Select(x => new WeatherForecast
            {
                Date = x.Date,
                TemperatureC = x.TemperatureC,
                Summary = x.Summary
            }).ToArray();
        }
        catch (OperationCanceledException e)
        {
            Console.WriteLine($"Cancellation Error: {e.Message}");
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error: {e.Message}");
        }
    }

    private void Cancel()
    {
        _cts?.Cancel();
    }

    public void Dispose()
    {
        _cts?.Dispose();
    }
}
